<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Agregar una categoria</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../assets/css/estilos.css">
    </head>
    <body>
        <div class="h_max_screen center_content">
            <div class="form_container">
                <h1>Registrar un producto</h1>
                <form action="POST">
                    <input class="w-full custom_input mt-4" type="text" name="product_name" placeholder="Nombre del producto" /> 
                    <input class="w-full custom_input my-4" type="number" name="product_price" placeholder="Precio del producto" />
                    <div class="center_content">
                        <button type="button" class="cancel_button">Cancelar</button>
                        <button type="submit" class="save_button">Registrar</button>                      
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>
